.container {
  display: grid;

  //grid-template-columns: minmax(100px, 300px) 2fr 1fr;
  //grid-template-columns: repeat(3, 1fr); // резиновая сетка
  //grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); // складная сетка

  //grid-template-rows: minmax(100px, auto);
  //grid-auto-rows: 100px;

  grid-template: minmax(100px, auto) / repeat(auto-fill, minmax(320px, 1fr)); // сокращённая от grid-template-columns / grid-template-rows

  //grid-column-gap: 10px;
  //grid-row-gap: 10px;
  grid-gap: 10px;

  // вертикальное перечисление
  //grid-auto-flow: column;
  //grid-template-rows: minmax(100px, 300px) 2fr 1fr;

  //justify-items: start; // не растягивать, старт с лева
  //align-items: center; // не растягивать, по центру

  & > div {
    border: 1px solid #adadad;
    background-color: #eee;
    padding: 3px 5px;
    border-radius: 3px;
  }

  & > div:nth-child(1) {
    // первый div занимет два места
    //grid-column-start: 1;
    //grid-column-end: 3;
    grid-column: 1 / 3;
  }

  & > div:nth-child(10) {
    // растягивание блока на всю ширину
    grid-column: 1 / -1;
  }

  & > div:nth-child(2) {
    align-self: center; // выравнивание елемента по вертикали
    justify-self: center; // выравнивание елемента по горизонтали
  }
}


.container2 {
  display: grid;
  grid-gap: 10px;


  grid-template-columns: 2fr 4fr;
  grid-template-areas:
    "block1 block2"
    "block3 block4";


  .block1 { grid-area: block1; }
  .block2 { grid-area: block2; }
  .block3 { grid-area: block3; }
  .block4 { grid-area: block4; }

  & > div {
    border: 1px solid #adadad;
    background-color: #eee;
    padding: 3px 5px;
    border-radius: 3px;
  }

  border: 1px solid green;
}
@media (max-width: 640px) {
  .container2 {
    background-color: red;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-areas: "block1 block2" "block3 block4";
  }
}


.container3 {

  & > div {
    border: 1px solid #adadad;
    background-color: #eee;
    padding: 3px 5px;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    & > div {
      margin: 5px;
      background-color: #444444;
      color: #fff;
      border-radius: 3px;
      padding: 5px;
    }
  }
}


.container4 {
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
  grid-template-columns: repeat(auto-fill, 300px);
  //grid-template-columns: 1fr 1fr;

  grid-template-rows: minmax(100px, auto);
  grid-gap: 10px !important;

  & > div {
    border: 1px solid #adadad;
    background-color: #eee;
    padding: 3px 5px;
    border-radius: 3px;
  }
}

