<h2>test-route-page</h2>

<ul>
  <li><a routerLinkActive="nav-active"
         [routerLinkActiveOptions]="{exact: true}"
         routerLink="/"
  >home</a></li>
  <li><a routerLinkActive="nav-active"
         [routerLink]="['/page1']"
  >page1</a></li>
  <li><a routerLinkActive="nav-active"
         [routerLink]="['/page2']"
  >page2</a></li>
  <li><a routerLinkActive="nav-active"
         [routerLink]="['/test-lazy-loading']"
  >test-lazy-loading watch network js</a></li>
  <li><a routerLinkActive="nav-active"
         [routerLink]="['/test-resolver/1']"
  >test-resolver with id 1</a></li>
  <li><a routerLinkActive="nav-active"
         [routerLink]="['/mini-project']"
  >mini-project</a></li>
</ul>

<router-outlet></router-outlet>

