<h2>Page2</h2>
<p>test-route-page2 works!</p>
<ul>
  <li><a routerLinkActive="nav-active"
         [routerLinkActiveOptions]="{exact: true}"
         routerLink="/"
  >home</a></li>
  <li><a routerLinkActive="nav-active"
         [routerLink]="['/page1']"
  >page1</a></li>
  <li><a routerLinkActive="nav-active"
         [routerLink]="['/page2']"
  >page2</a></li>
</ul>


<div *ngFor="let item of service.items">
  <h4>
    <a [routerLink]="['/page2', item.id]">
      <strong>id: {{item.id}}</strong>
      {{item.title}}
    </a>
  </h4>
</div>


<button [routerLink]="['/page2', 'page2-child']">go to child</button>


<router-outlet></router-outlet>




