<div class="container">
  <h1>Links</h1>

  <ul>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/di-token']">di-token</a>
      <div><span class="hint">Тест injection token</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/test-rxjs-service']">rxjs service</a>
      <div><span class="hint">Тест сервиса с rxjs | не доделан пример сервиса</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/pipes-my-currency']">pipe currency</a>
      <div><span class="hint">Тест template pipe на символ рубля</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/ng-content']">ng-content selector</a>
      <div><span class="hint">Тест ng-content с селекторами</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/rxjs']">rxjs</a>
      <div><span class="hint">Тест операторов rxjs</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/abstract-class']">abstract class</a>
      <div><span class="hint">Тест abstract классов</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/form-example']">form example</a>
      <div><span class="hint">Тест формы через class extend</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/rest-api']">test api</a>
      <div><span class="hint">Тест тестового api сервиса</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/tests']">tests</a>
      <div><span class="hint">Тесты</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/trackby']">trackby</a>
      <div><span class="hint">Тест trackby</span></div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
