<div class="container">
  <h1>Links</h1>

  <ul>
    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/di-token']">di-token</a>
      <div><span class="hint">Тест injection token</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/test-rxjs-service']">rxjs service</a>
      <div><span class="hint">Тест сервиса с rxjs | не доделан пример сервиса</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/pipes-my-currency']">pipe currency</a>
      <div><span class="hint">Тест template pipe на символ рубля</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/ng-content']">ng-content selector</a>
      <div><span class="hint">Тест ng-content с селекторами</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/rxjs']">rxjs</a>
      <div><span class="hint">Тест операторов rxjs</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/abstract-class']">abstract class</a>
      <div><span class="hint">Тест abstract классов</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/form-example']">form example</a>
      <div><span class="hint">Тест формы через class extend</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/rest-api']">test api</a>
      <div><span class="hint">Тест тестового api сервиса</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/tests']">tests</a>
      <div><span class="hint">Тесты</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/trackby']">trackby</a>
      <div><span class="hint">Тест trackby</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/guard-example']">guard-example</a>
      <div><span class="hint">Тест guard-example</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/resolver-example']">resolver-example</a>
      <div><span class="hint">Тест resolver-example</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/control-value-accessor-example']">control-value-accessor-example</a>
      <div><span class="hint">!Тест control-value-accessor-example</span></div>
    </li>

    <li>
      <a class="link" routerLinkActive="nav-active" [routerLink]="['/control-value-accessor-example1']">control-value-accessor-example1</a>
      <div><span class="hint">Тест accessor form control, по примеру habr.com/ru/post/481424/</span></div>
    </li>

  <!-- На текущий момент костыльная поддержка воркеров в анугляре -->
  <!--    <li>-->
  <!--      <a class="link" routerLinkActive="nav-active" [routerLink]="['/workers']">worker-examples</a>-->
  <!--      <div><span class="hint">Тест service-worker и shared-worker</span></div>-->
  <!--    </li>-->

  </ul>
</div>

<router-outlet></router-outlet>
