<!--<app-mycard-edit></app-mycard-edit>-->
<!--<app-mycard></app-mycard>-->
<!--<app-mycard></app-mycard>-->
<!--<app-mycard></app-mycard>-->

<!--<app-test-content></app-test-content>-->


<!--диррективы атрибутные и структурные-->
<div appTestDirective color="green">test content</div>
<!--<button (click)="bool = !bool">toggle bool</button>-->
<!--<div *appMyIf="bool">test content</div>-->

<!--пайпы-->
<!--<app-test-pipe></app-test-pipe>-->
<!--<p>{{ 10 | mypipe}}</p>-->
<!--<p>{{ 10 | mypipe:10}}</p>-->
<!--<div>-->
<!--  <input type="text" [(ngModel)]="search" />-->
<!--  <div *ngFor="let item of items | pipeFilter:search">-->
<!--    <p>{{item.title}}</p>-->
<!--  </div>-->
<!--</div>-->

<!--формы, валидация-->
<!--<app-form></app-form>-->

<!--работа с сервером, intercepter-->
<!--<app-http-client-test></app-http-client-test>-->

<!--роутинг, lazy-loading, resolver-->
<!--<router-outlet></router-outlet>-->

<!--модалки-->
<!--<app-test-modal></app-test-modal>-->

<!--тест фильтра на подписках | не доделанный -->
<!--<app-filter></app-filter>-->

<!--тест стилей, растягивание блока на оставшуюся высоту-->
<!--<app-test-styles></app-test-styles>-->

<!-- apptest -->

<!-- dev/pipes -->
<!--<app-my-currency></app-my-currency>-->

<!-- dev/...-->
<!--<app-test-breakpoint-observer></app-test-breakpoint-observer>-->
<!--<app-test-ng-animate></app-test-ng-animate>-->
<!--<app-click-animate></app-click-animate>-->
<!--<app-doc-tutorial></app-doc-tutorial>-->


<!-- +dev -->
<!--<app-ref-for-child></app-ref-for-child>-->
<!--<app-ng-for-track-by-fn></app-ng-for-track-by-fn>-->
<!--<app-infinity-scroll></app-infinity-scroll>-->

<!-- +trash -->
<app-mini-project></app-mini-project>

<!--<br><br>-->
<!--<div [ngStyle]="{outline: '1px solid red'}" appMouseCoords (eventCoords)="test($event)">123</div>-->
