<!--<app-mycard-edit></app-mycard-edit>-->
<!--<app-mycard></app-mycard>-->
<!--<app-mycard></app-mycard>-->
<!--<app-mycard></app-mycard>-->

<!--<app-test-content></app-test-content>-->


<!--диррективы атрибутные и структурные-->
<!--<div appTestDirective color="green">test content</div>-->
<!--<button (click)="bool = !bool">toggle bool</button>-->
<!--<div *appMyIf="bool">test content</div>-->

<!--пайпы-->
<!--<app-test-pipe></app-test-pipe>-->
<!--<p>{{ 10 | mypipe}}</p>-->
<!--<p>{{ 10 | mypipe:10}}</p>-->
<!--<div>-->
<!--  <input type="text" [(ngModel)]="search" />-->
<!--  <div *ngFor="let item of items | pipeFilter:search">-->
<!--    <p>{{item.title}}</p>-->
<!--  </div>-->
<!--</div>-->

<!--формы, валидация-->
<!--<app-form></app-form>-->

<!--работа с сервером, intercepter-->
<!--<app-http-client-test></app-http-client-test>-->

<!--роутинг, lazy-loading-->
<!--<router-outlet></router-outlet>-->



