.edit-block {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-flex;

  input {
    border: none;
  }
}


.test-block {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #ccc;
}
.color1 {
  background-color: #ccc;
}

.color1 {
  background-color: #333;
}
