.container {
  max-width: 400px;
  margin: 5px;
  border: 1px dashed #999999;
  padding: 10px;

  & h3 {
    margin: 0 0 10px;
  }

  & .tool {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #999;
  }

  & .withContext {
    @extend .base-block;
  }

  & .blocks {
    & > div {
      @extend .base-block;
    }
    & > div:not(:last-child) {
      margin-right: 5px;
    }
  }

  .empty-block {
    @extend .base-style-block;
    width: 100%;
    height: 100%;
  }
}

/* базовые расширямые классы */

.base-block {
  @extend .base-style-block;
  @extend .base-spacing-block;
}

.base-style-block {
  background-color: #d6d6d6;
  &:hover {
    box-shadow: 0 0 5px #868686;
  }
}
.base-spacing-block {
  padding: 10px 15px;
  border-radius: 5px;
}

