<h1>form-example works!</h1>
<br>

<div [formGroup]="formGroup" class="form">
  <div>
    <input [formControlName]="todoFields.title">
    <span *ngIf="formGroup.get(todoFields.title).invalid">
      Поле обязательно для заполениня
    </span>
  </div>
  <div>
    <input type="date" [formControlName]="todoFields.date">
  </div>
  <div>
    <input type="checkbox" [formControlName]="todoFields.done">
  </div>

  <div>
    <button (click)="isShowFormValues = !isShowFormValues" [disabled]="isEmptyFormFields">show result</button>
  </div>
</div>

<br>
<div *ngIf="isShowFormValues">
  <pre>{{formGroup.getRawValue() | json}}</pre>
</div>


<hr>

<h3>simpleFormArray</h3>
<ng-container *ngFor="let control of simpleFormArray.controls; index as i">
  <input type="text" [formControl]="simpleFormArray.controls[i]" />
</ng-container>
<button (click)="getSimpleFormArray()">getRaw</button>
<br><br>

<h3>expandedFormArray</h3>
<form [formGroup]="expandedFormArray">
  <ng-container formArrayName="myFromArray"
                *ngFor="let control of getFormGroup1Array; index as i">
    <ng-container [formGroupName]="i">
      <input formControlName="myValue"/>
    </ng-container>
  </ng-container>
  <button (click)="getExpandedFormArray()">getRaw</button>
</form>

<br><br>

