/* You can add global styles to this file, and also import other style files */
@import "src/app/styles/fonts";
@import "src/app/styles/mixins";

html, body {
  height: 100%;
  margin: 0;
  @include font-base;

  button {
    @include font-base;
  }
}

.nav-active {
  color: green;
}

.container-col {
  display: flex;
  flex-direction: column;
}

.container-row {
  //display: flex;
}

h3 {
  margin-bottom: 5px;
}
